
<div class="container">
  <form>
    <div class="form-group">
      <label for="nameId">Nume</label>
      <input class="form-control"
             id="nameId"
             formControlName="name"

      />
    </div>
    <div class="form-group">
      <label for="abbreviationId">Abreviere</label>
      <input class="form-control" id="abbreviationId"
             formControlName="abbreviation"
      />
    </div>
    <button type="submit" class="btn btn-primary">Creaza filiala</button>
  </form>
</div>
