<div class='card'>
  <div class="card-header">
    Lista voluntari
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input [(ngModel)]="listFilter" type="text"/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>
          <button class="btn btn-primary">
            Show image
          </button>
        </th>
        <th>Nume</th>
        <th>Prenume</th>
        <th>Email</th>
        <th>Numar de telefon</th>
        <th>Filiala</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let volunteer of volunteers">
          <td></td>
          <td>{{volunteer.firstName | uppercase}}</td>
          <td>{{volunteer.lastName | uppercase}}</td>
          <td>{{volunteer.email}}</td>
          <td>{{volunteer.phoneNumber}}</td>
          <td>{{volunteer.branch.name | uppercase}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
