<div class="container">
  <form [formGroup]="branchForm" (ngSubmit)="updateBranch()">
    <div class="form-group">
      <label>Nume filiala</label>
      <input type="text" class="form-control" formControlName="name" required autofocus/>
    </div>
    <div class="form-group">
      <label>Abreviere</label>
      <input type="text" class="form-control" formControlName="abbreviation" required autofocus/>
    </div>
    <button type="submit" class="btn btn-primary">Modifica filiala</button>
  </form>
</div>
